
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: lightgray;
  background-color: lightslategray;
  padding: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

section {
  border: 1px solid lightgrey;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 50px;
}

